<!-- about.html -->
{% extends "base.html" %}
{% load static %}  <!-- Add this line -->



{% block content %}
<div class="center">
    <div class="card">
      <h2>About Me</h2>
      <img src="{% static 'blog/images/mesoph.jpg' %}" alt="Your Image Description" style="width:290px; height:290px; object-fit: cover;">

    <p>I am currently a Junior Computer Science Major at the University of Notre Dame.
        At ND, I currently live in Pangborn Hall but next semester I will be transferred, along with my dormmates to Graham Family Hall.

    <p> I am passionate about music, philosophy, art, and the sciences and am currently looking for ways to combine computer science and medicine. </p>
    <p> In my free time, I write music and jam to my favorite bands!</p>

    <p>Career-wise, I have long thought about bioinformatics and I currently have tried applying to be an undergraduate research assistant for Tijana Milenkovic's network science bioinformatics lab but she ghosted me even after following up and having one of her grad students talk to her about it. </p>

    <p>SO...</p>


    <p>I am open to other fields as well. (Cybersecurity????)</p>

    <p> BUT I am incredibly persistent and will stop at nothing to ensure that my goals and plans are achieved.</p>

    </div>
{% endblock %}