<!-- categories.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>



<!-- The Big Header -->
<div class="header">
  <h2>PENSIVE: A BLOG</h2>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="index.html">HOME</a>
  <a href="about.html">ABOUT ME</a>
  <a href="categories.html">CATEGORIES</a>
  <a href="articles.html">ARTICLES</a>
  <!-- Add more links as needed -->
</div>
  <!-- Rest of your content -->




  
</body>
</html>