<!-- index.html -->
{% extends "base.html" %}
{% load static %}  <!-- Add this line -->


{% block content %}
<!-- The main content -->
<div class="row">
  <div class="leftcolumn">
      <h1>Latest Articles</h1>  <!-- Add this line -->
        {% if latest_blogs %}
            {% for post in latest_blogs %}
                <div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="float: right; margin-left: 20px; width: 320px; height: auto;">
                    {% endif %}
                    <h2><a href="/blog/{{post.id}}">{{ post.title }}</a></h2>
                    <p class="author-date">{{ post.author_name }} - {{ post.pub_date }}</p>
                    <p class="preview">{{ post.content|truncatewords:50 }}</p>
                    <a href="/blog/{{post.id}}" class="read-more-btn">Read More</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No blogs written.</p>
        {% endif %}


  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <img src="{% static 'blog/images/mesoph.jpg' %}" alt="Your Image Description" style="height:200px; object-fit: cover; width:100%;">
      <p>I am currently a Junior Computer Science Major at the University of Notre Dame. 
      At ND, I currently live in Pangborn Hall but next semester I will be transferred, along with my dormmates to Graham Family Hall. 
      In real life, I currently live in Irving, Texas with my family after we immigrated from the Philippines.
      <p>I am incredibly persistent and will stop at nothing to ensure that my goals and plans are achieved. </p>
{% endblock %}