{% extends "base.html" %}
{% load static %}

{% block title %}
All The Blogs
{% endblock %}

{% block content %}
<h1>List of all Blog Posts</h1>
{% if latest_blogs %}
    {% for post in latest_blogs %}
        <div class="card">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" style="float: right; margin-left: 20px; width: 320px; height: auto;">
            {% endif %}
            <h2><a href="/blog/{{post.id}}">{{ post.title }}</a></h2>
            <p class="author-date">{{ post.author_name }} - {{ post.pub_date }}</p>
            <p class="preview">{{ post.content|truncatewords:50 }}</p>
            <a href="/blog/{{post.id}}" class="read-more-btn">Read More</a>
        </div>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}